<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-adsense-account" content="ca-pub-6545206274840019">
  <title>Buscador CA Web</title>
  <link rel="icon" href="{{ url_for('static', filename='favi4.ico') }}" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/individual">Buscador CA Web</a>
      <div class="navbar-nav">
        <a class="nav-link" href="/individual">Busca Individual</a>
        <a class="nav-link" href="/lote">Busca em Lote</a>
        <a class="nav-link" href="/ca">Buscar por Data</a>
        <a class="nav-link" href="/Buscar_cep">Buscar por CEP</a>
        <a class="nav-link" href="/">Sair</a>
      </div>
    </div>
  </nav>
  
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  
  <footer class="text-center mt-5 mb-3 text-muted">
    <p>Atualizações: 26/08 - <strong> Adicionado uma busca por CEP</strong></p>
    <small>© Buscador CA Web</small> <br>
    <small style="font-size: 10px;">Por: <a href="https://www.linkedin.com/in/fernando-eduardo-61b99924b/" target="_blank">Fernando Eduardo</a></small> <br>
    <!-- <a class="navbar-brand" id="status-servidor">Status Servidor: online </a> -->
  </footer>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>
